src/main/app/endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule version="EE-3.7.0"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:sap="http://www.mulesoft.org/schema/mule/sap" 
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd">

    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="${http.port}" doc:name="HTTP Listener Configuration"/>

	<flow name="triggerFlow" processingStrategy="synchronous"  doc:description="This is the simpliest entry point to start the excecution of your Template
Here you should:
	* Define any inbound endpoint
	* Handle any input parameter and transform it into the expected format by the mainFlow
Here you should not:
	* Run validations against external systems
	* Choose flow of your application based on input parameters">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/migratecontacts" doc:name="Start Synchronization">
            <http:response-builder statusCode="200"/>
        </http:listener>

<sap:outbound-endpoint exchange-pattern="request-response" connector-ref="SAP" type="function" functionName="BAPI_CUSTOMER_GETCONTACTLIST" xmlVersion="2" outputXml="true" responseTimeout="10000" doc:name="Query SAP for contacts">
            <sap:definition><![CDATA[<BAPI_CUSTOMER_GETCONTACTLIST type="function">
 <import>
  <MAXROWS type="field" sapDescription="Maximum number of contact persons"
			sapType="INT" sapLength="4">5</MAXROWS>
 </import>
 <tables>
		<CUSTOMERRANGE type="table">
			<row id="0">
				<SIGN type="field"
					sapDescription="Inclusion/exclusion criterion SIGN for range tables"
					sapType="CHAR" sapLength="1">I</SIGN>
				<OPTION type="field" sapDescription="Selection operator OPTION for range tables"
					sapType="CHAR" sapLength="2">CP</OPTION>
				<LOW type="field" sapDescription="Customer Number" sapType="CHAR"
					sapLength="10">*</LOW>
				<HIGH type="field" sapDescription="Customer Number" sapType="CHAR"
					sapLength="10"></HIGH>
			</row>
		</CUSTOMERRANGE>
 </tables>
</BAPI_CUSTOMER_GETCONTACTLIST>]]></sap:definition>




            </sap:outbound-endpoint>

        <flow-ref name="mainFlow" doc:name="Trigger 'mainFlow'" doc:description="mainFlow"/>
        <set-payload value="&lt;body style='font-family:Courier'&gt;&lt;h1&gt;Batch Process initiated&lt;/h1&gt;&lt;b&gt;ID:&lt;/b&gt;#[payload.getId()]&lt;br/&gt;&lt;b&gt;Records to Be Processed: &lt;/b&gt;#[payload.getRecordCount()]&lt;br/&gt; &lt;b&gt;Start execution on: &lt;/b&gt;#[new java.util.Date()]&lt;/body&gt;" doc:name="Set response body"/>
    
    </flow>
</mule>
